.jumbotron {
    background-color:yellowgreen;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellowgreen;
    margin-bottom: 0px;
    margin-top: 10p;
}

.card-curso{
flex: 1 200px; 
/* padding: 2px  0px 2px px; */
margin-top: 10px;

}
.btn-iniciar{
    width: 100%;
    border-radius: 0px;

}
.btn-infoaqui{
    width: 100%;
   

}
.footer-addres-icon{
    padding-right: 10px; ;
}